.sidebar .nav li.divider {
  height: 1px;
  margin: 10px 25px;
  background-color: rgba(102, 97, 91, 0.2);
}

.nav li.nav-text {
  margin: 20px 0px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.nav li.nav-text img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .sidebar .nav li.divider {
    margin-left: 0;
    margin-right: 0;
  }

  .nav li.nav-text {
    padding-left: 0;
    padding-right: 0;
  }
}



.navbar-default .navbar-right li.active > a {
  color: #EB5E28;
  opacity: 1;
}


.card .icon-mid {
  font-size: 2em;
  min-height: 32px;
}

a:hover > .card {
  box-shadow: 0 4px 4px rgba(204, 197, 185, 0.5);
}
