
/** Navigation **/

.sidebar .nav li.divider {
  height: 1px;
  margin: 10px 25px;
  background-color: rgba(102, 97, 91, 0.2);
}

.nav li.nav-text {
  margin: 20px 0px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.nav li.nav-text img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .sidebar .nav li.divider {
    margin-left: 0;
    margin-right: 0;
  }

  .nav li.nav-text {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-default .navbar-right li.active > a {
  color: #EB5E28;
  opacity: 1;
}


/** Datatables **/

.datatable .datatable-row {
  border-bottom: 1px solid rgba(102, 97, 91, 0.2);
  padding: 20px;
}

.datatable .datatable-row:last-child {
  border-bottom: none;
}

.datatable .datatable-row > a {
  color: inherit;
}

.datatable .datatable-row  table td {
  vertical-align: top;
}

@media (max-width: 768px) {
  .datatable .datatable-offers-extra p:first-child {
    float: left;
  }
}


/** Pagination **/

ul.pagination a {
  padding: 6px 12px;
  line-height: 1.428571429;
}

ul.pagination > li.page-item > a {
  transition: all 100ms ease-in;
}

ul.pagination > li.page-item > a,
ul.pagination > li.page-item > span {
  margin: 0 2px;
  padding: 6px;

  background-color: transparent;
  border: 2px solid #66615B;
  border-radius: 50%;

  height: 36px;
  min-width: 36px;
  
  font-weight: 600;
  color: #66615B;
  text-align: center;
}

ul.pagination > li.page-item > a:hover,
ul.pagination > li.page-item > a:focus,
ul.pagination > li.page-item > a:active,
ul.pagination > li.page-item.active > a,
ul.pagination > li.page-item.active > span,
ul.pagination > li.page-item.active > a:hover,
ul.pagination > li.page-item.active > span:hover,
ul.pagination > li.page-item.active > a:focus,
ul.pagination > li.page-item.active > span:focus {
    background-color: #66615B;
    border-color: #66615B;
    color: #FFFFFF;
}

ul.pagination > li.page-item.disabled > a,
ul.pagination > li.page-item.disabled > span {
  color: #cfcfca;
  border-color: #cfcfca;
}


/** Others **/

.card .card-header {
  padding: 15px 20px 0 20px;
  border-radius: 3px 3px 0 0;
}

.card .card-header .card-title {
  margin-top: 0;
}

.card .card-title {
  margin: 0 0 15px 0;
  color: #252422;
  font-weight: 300;
}

.card .card-header .category {
  padding: 5px 0px;
}

.card .card-header hr {
  margin-bottom: 0;
}

.card .card-content {
  padding: 20px;
}

.card .icon-mid {
  font-size: 2em;
  min-height: 32px;
}


.avatar-line-64 {
  padding-left: 90px;
  position: relative;
}

.avatar-line-64 img {
  left: 0;
  position: absolute;
  max-width: 64px;
}

.avatar-line-96 {
  padding-left: 120px;
  position: relative;
}

.avatar-line-96 img {
  left: 0;
  position: absolute;
  max-width: 96px;
}


a:hover > .card {
  box-shadow: 0 4px 4px rgba(204, 197, 185, 0.5);
}


